<?xml version="1.0"?>
<configuration>
  
  <system.webServer>

    <security>
      <!--
      <ipSecurity allowUnlisted="false" denyAction="NotFound">
        <add allowed="true" ipAddress="..." subnetMask="..."/>
      </ipSecurity>
      -->
    </security>

    <staticContent>
      <clientCache cacheControlCustom="no-cache, must-revalidate"/>
      <remove fileExtension=".js"/>
      <mimeMap fileExtension=".js" mimeType="text/javascript"/>
      <remove fileExtension=".manifest"/>
      <mimeMap fileExtension=".manifest" mimeType="text/cache-manifest"/>
      <remove fileExtension=".ts"/>
      <mimeMap fileExtension=".ts" mimeType="text/typescript"/>
      <remove fileExtension=".tsx"/>
      <mimeMap fileExtension=".tsx" mimeType="text/typescript"/>
      <remove fileExtension=".json"/>
      <mimeMap fileExtension=".json" mimeType="application/json"/>
    </staticContent>
    
    <rewrite>
      <rules>
        <rule name="DynamicRewrite" enabled="true" stopProcessing="true">
          <match url=".*" ignoreCase="true"/>
          <conditions>
            <add input="{REQUEST_FILENAME}" pattern="/*\.manifest$" negate="true"/>
            <add input="{REQUEST_FILENAME}" pattern="/*\.js$" negate="true"/>
            <add input="{REQUEST_FILENAME}" pattern="/*\.ts$" negate="true"/>
            <add input="{REQUEST_FILENAME}" pattern="/*\.tsx$" negate="true"/>
            <add input="{REQUEST_FILENAME}" pattern="/*\.map$" negate="true"/>
            <add input="{REQUEST_FILENAME}" pattern="/*\.ico$" negate="true"/>
            <add input="{REQUEST_FILENAME}" pattern="/*\.png$" negate="true"/>
            <add input="{REQUEST_FILENAME}" pattern="/*\.jpg$" negate="true"/>
            <add input="{REQUEST_FILENAME}" pattern="/*\.jpeg$" negate="true"/>
            <add input="{REQUEST_FILENAME}" pattern="/*\.gif$" negate="true"/>
            <add input="{REQUEST_FILENAME}" pattern="/*\.htm$" negate="true"/>
            <add input="{REQUEST_FILENAME}" pattern="/*\.html$" negate="true"/>
            <add input="{REQUEST_FILENAME}" pattern="/*\.json$" negate="true"/>
            <add input="{REQUEST_FILENAME}" pattern="/*\.css$" negate="true"/>
            <add input="{REQUEST_FILENAME}" pattern="/*\.svg$" negate="true"/>
            <add input="{PATH_INFO}" pattern="^/src/.*$" negate="true"/>
          </conditions>
          <action type="Rewrite" url="/index.html"/>
        </rule>
      </rules>
    </rewrite>
    
    <httpCompression>
      <dynamicTypes>
        <add mimeType="text/javascript" enabled="true"/>
        <add mimeType="application/json" enabled="true"/>
      </dynamicTypes>
    </httpCompression>
    
  </system.webServer>

  <system.web>
    <compilation debug="true" targetFramework="4.6.1"/>
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  
</configuration>