html, body {
    margin: 0; 
    padding: 0;
    font-size: 1.0em;
}

.ajsDoc {
    font-family: Calibri, Arial, sans-serif;
}

.ajsDocLink {
    text-decoration: none;
    color: black;
}

.ajsDocLink:hover {
    color: #16355D;
}

/* PAGE LAYOUT */

.ajsDocLayoutHeaderContainer {
    background: linear-gradient(-3deg, #EAF4F8, white);
    text-align: center;
    padding: 3px;
    height: 54px;
    box-sizing: border-box;
}

.ajsDocLayoutMenuContainer {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 0;
    border-right: 1px solid #EAF4F8;
    vertical-align: top;
    box-sizing: border-box;
    overflow: hidden;
    z-index: 9500;
    -webkit-overflow-scrolling: touch;
}

.ajsDocLayoutContentContainer {
    vertical-align: top;
    overflow-y: auto;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
}

@keyframes ajsDocMenuButtonVisible {
    from { opacity: 0.25; }
    to { opacity: 1; }
}

@keyframes ajsDocMenuButtonInvisible {
    from { opacity: 1; }
    to { opacity: 0.25; }
}

.ajsDocLayoutMenuButton {
    position: fixed;
    left: 3px;
    top: 3px;
    width: 48px;
    height: 48px;
    background-image: resource('/res/img/ajs-logo.png');
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 9999;
    animation: ajsDocMenuButtonVisible 250ms forwards;
}

.ajsDocLayoutMenuButton[menuvisible="false"] {
    animation: ajsDocMenuButtonInvisible 250ms forwards;
}

@keyframes ajsDocMenuMakeVisible350px {
    from { width: 0; opacity: 0 }
    to { width: 350px; opacity: 1 }
}

@keyframes ajsDocMenuMakeInvisible350px {
    from { width: 350px; opacity: 1 }
    to { width: 0; opacity: 0 }
}

@keyframes ajsDocMenuMakeVisible100 {
    from { width: 0; opacity: 0 }
    to { width: 100%; opacity: 0.95  }
}

@keyframes ajsDocMenuMakeInvisible100 {
    from { width: 100%; opacity: 0.95 }
    to { width: 0; opacity: 0 }
}

@keyframes ajsDocMenuVisibleContent {
    from { margin-left: 0}
    to { margin-left: 350px}
}

@keyframes ajsDocMenuInvisibleContent {
    from { margin-left: 350px}
    to { margin-left: 0}
}

@media only screen and (min-width: 980px) {

    .ajsDocLayoutContentContainer[menuvisible="true"] {
        animation: ajsDocMenuVisibleContent 250ms forwards;
    }

    .ajsDocLayoutContentContainer[menuvisible="false"] {
        animation: ajsDocMenuInvisibleContent 250ms forwards;
    }


    .ajsDocLayoutMenuContainer[menuvisible="true"] {
        animation: ajsDocMenuMakeVisible350px 250ms forwards;
    }

    .ajsDocLayoutMenuContainer[menuvisible="false"] {
        animation: ajsDocMenuMakeInvisible350px 250ms forwards;
    }

}

@media only screen and (max-width: 980px) {

    .ajsDocLayoutContentContainer {
        left: 0
    }

    .ajsDocLayoutMenuContainer[menuvisible="true"] {
        animation: ajsDocMenuMakeVisible350px 250ms forwards;
    }

    .ajsDocLayoutMenuContainer[menuvisible="false"] {
        animation: ajsDocMenuMakeInvisible350px 250ms forwards;
    }
}

@media only screen and (max-width: 350px) {

    .ajsDocLayoutMenuContainer[menuvisible="true"] {
        animation: ajsDocMenuMakeVisible100 250ms forwards;
    }

    .ajsDocLayoutMenuContainer[menuvisible="false"] {
        animation: ajsDocMenuMakeInvisible100 250ms forwards;
    }

}


.ajsDocLayoutPageNavContainer {
    display: table-cell;
    vertical-align: top;
    padding: 3px;
    border-left: 1px solid #EAF4F8;
}

/* NAVBAR */

.ajsDocNavBar {
    border-bottom: solid 1px #EAF4F8;
    padding: 3px;
    background: linear-gradient(-3deg, #EAF4F8, white)
}

/* HEADER */

.ajsDocHeaderLabelContainer {
    display: table-cell;
    height: 48px;
    vertical-align: middle;
    padding-left: 0.5em
}

.ajsDocHeaderLabel {
    display: inline;
    padding: 0;
}

.ajsDocAjsLogo {
    display: table-cell;
    width: 48px;
    height: 48px;
}

/* FOOTER */

.ajsDocLayoutFooterContainer {
    text-align: center;
    font-size: 0.75em;

    border-top: solid 1px #EAF4F8;
}

/* CONTENT */

.ajsDocContentPlaceholder {
    margin: 0;
    padding: 3px;
    vertical-align:top;
}

.ajsDocContentPlaceholder pre {
    border: solid 1px #EAF4F8;
    margin: 0;
}

.ajsDocContentPlaceholder h5 {
    margin: 0; padding: 0;
}

/* CONTEXT SWITCHER */

.ajsDocContextSwitcher {
    background-color: white;
    white-space: nowrap;
    height: 40px;
    box-sizing: border-box;
}
        
.ajsDocContextSwitcherButton {
    display: inline-block;
    width: 50%;
    text-align: center;
    box-sizing: border-box;
    height: 100%;
    border: none;
    background: linear-gradient(-3deg, #EAF4F8, #FAFCFD, #EAF4F8);
    outline: 0;
    font-family: inherit;
    font-size: inherit;
}

.ajsDocContextSwitcherButton[selected="true"] {
    background: linear-gradient(-3deg, #EAF4F8, #16355D, #EAF4F8);
    color: white;
}


/* MENU */

@keyframes ajsDocMenuOldAnimationRtl {
    from { width: 350px; }
    to { width: 0; }
}

@keyframes ajsDocMenuNewAnimationRtl {
    from { left: 350px; width: 0; }
    to { left: 0; width: 350px; }
}

@keyframes ajsDocMenuOldAnimationLtr {
    from { left: 0; width: 350px; }
    to { left: 350px; width: 0; }
}

@keyframes ajsDocMenuNewAnimationLtr {
    from { width: 0; }
    to { width: 350px; }
}

@keyframes ajsDocMenuNewFadeIn {
    from { opacity: 0; }
    to { opacity: 1;}
}

@keyframes ajsDocMenuOldFadeOut {
    from { opacity: 1; }
    to { opacity: 0;}
}

.ajsDocMenu {
    background: linear-gradient(-90deg, white, #FAFCFD);
    white-space: nowrap;
    overflow-y: auto;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
    position: absolute;
    top: 94px;
    left: 0;
    right: 0;
    bottom: 0;
}

.ajsDocMenuRtlOld {
    animation: ajsDocMenuOldAnimationRtl 300ms forwards;
}

.ajsDocMenuRtlNew {
    animation: ajsDocMenuNewAnimationRtl 300ms forwards;
}

.ajsDocMenuLtrOld {
    animation: ajsDocMenuOldAnimationLtr 300ms forwards;
}

.ajsDocMenuLtrNew {
    animation: ajsDocMenuNewAnimationLtr 300ms forwards;
}

.ajsDocMenuFadeNew {
    animation: ajsDocMenuNewFadeIn 300ms forwards;
}

.ajsDocMenuFadeOld {
    animation: ajsDocMenuOldFadeOut 300ms forwards;
}

.ajsDocMenuLabel {
    display: table-cell;
    width: 350px;
    height: 40px;
    background: linear-gradient(-3deg, #FAFCFD, #EAF4F8);
    text-align: center;
    vertical-align: middle;
}

.ajsDocMenuParent {
    font-weight: bold;
    font-size: 1.25em;
    text-decoration: none;
    color: black;
}

.ajsDocMenuItemGroup {
    list-style: none;
    margin: 0;
    padding: 0;
}

.ajsDocMenuItemGroupLabel {
    font-style: italic;
    font-weight: bold;
    padding: 0.25em;
    padding-left: 0;
}

.ajsDocMenuItem {
    list-style: none;
}

.ajsDocMenuItemLink {
    display: block;
    padding: 0.25em;
    padding-left: 1em;
}

.ajsDocMenuItemLink:hover {
    background-color: #EAF4F8;
}

.ajsDocMenuItemLinkParent {
    display: block;
    padding: 0.25em;
}

.ajsDocMenuItemLinkParent:hover {
    background-color: #EAF4F8;
}

.ajsDocMenuItem[ajsselected="true"] a {
    color: #16355D;
    font-weight: bold;
}

/* ARTICLES */

.ajsDocArticleCaption {
    margin: 0;
    padding: 0;
}

.ajsDocExample {
    border: solid 1px #EAF4F8;
    background-color: #FAFCFD;
}

.ajsDocChart {
    border: solid 1px #EAF4F8;
    text-align: center;
    padding: 0.25em;
    overflow: auto;
}

/* CODE TEMPLATES */

.ajsDocMember {
    margin-bottom: 0.5em;
}

.ajsDocMember:hover, .ajsDocMember:hover .ajsDocStatement {
    background-color: #EAF4F8;
}


.ajsDocStatement {
    background-color: #FAFAFA;
}
